In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
data=pd.read_csv("Sales_data_zone_wise.csv")

In [4]:
data.head()

       Month  Zone - A  Zone - B  Zone - C  Zone - D
0  Month - 1   1483525   1748451   1523308   2267260
1  Month - 2   1238428   1707421   2212113   1994341
2  Month - 3   1860771   2091194   1282374   1241600
3  Month - 4   1871571   1759617   2290580   2252681
4  Month - 5   1244922   1606010   1818334   1326062

In [5]:
data.columns

Index(['Month', 'Zone - A', 'Zone - B', 'Zone - C', 'Zone - D'], dtype='object')

#  The mean sales generated by each zone.

In [6]:
mean=data.iloc[:,1:5].apply(np.mean)

In [7]:
mean

Zone - A    1.540493e+06
Zone - B    1.755560e+06
Zone - C    1.772871e+06
Zone - D    1.842927e+06
dtype: float64

#  Total sales generated by all the zones for each month.

In [8]:
total=data.iloc[:,1:5].apply(np.sum)

In [9]:
total

Zone - A    44674301
Zone - B    50911228
Zone - C    51413260
Zone - D    53444876
dtype: int64

In [12]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
model = ols('mean - total',
            dataA= Zone - A).fit()

In [ ]:
anova_result = sm.stats.anova_lm(model, typ=2)

In [ ]:
anova_result